#centered_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;  /* Stack items vertically */   
    gap: 5px;               /* Add spacing between items */
    width: 300px;            /* Set form width */
    margin: 0 auto;          /* Center the form itself */
}

form>input{
    height: 30px;
    border-radius: 10px;
    border:1px solid;
    border-color:black;
}

form>p{
    margin-bottom:0px
}
