@font-face {
    font-family: 'Istok Web';
    src: url(../resource/fonts/Istok_Web/IstokWeb-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Istok Web';
    src: url(../resource/fonts/Istok_Web/IstokWeb-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style:normal;
}

@font-face {
    font-family: 'Istok Web';
    src: url(../resource/fonts/Istok_Web/IstokWeb-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Istok Web';
    src: url(../resource/fonts/Istok_Web/IstokWeb-BoldItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

html *{
    font-family: 'Istok Web';
}
body{
    background-color: #F1E6B3;
}

.centered-image-container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: auto;  
}

.centered-image-container img{
    max-width:15%;
    height:auto;
}