
@font-face {
    font-family: "CustomFont";
    src: url("../resource/fonts/Istok_Web/IstokWeb-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CustomFont";
    src: url("../resource/fonts/Istok_Web/IstokWeb-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "CustomFont";
    src: url("../resource/fonts/Istok_Web/IstokWeb-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "CustomFont";
    src: url("../resource/fonts/Istok_Web/IstokWeb-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}


body{
    margin: 0;
}

h2, p, a {
    color: black;
    font-family: "CustomFont", sans-serif;
}

 /* Main content */
 .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #F1E6B3;
    transition: all 0.3s ease;
    height: 100vh;
    overflow-y: auto;
    border: 2px solid #ccc; /* Added border to the main container */
}
  
  .main-content.full-width {
    width: 100%;
  
  }
  

 /* Survey title container */
.survey-title {
    background-color: #F1E6B3; 
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #999; /* Added border to the survey title container */
    margin-bottom: 20px;
}

.survey-title h2[contenteditable="true"],
.survey-title p[contenteditable="true"] {
    outline: none; 
}
  
/* Question container */
.question-container {
    background-color: #F1E6B3;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid #aaa; /* Added border to question container */
}
  
  .question-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
  }
  
  .question-header input[type="text"] {
      flex-grow: 1;
      margin-right: 10px;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }
  
  .question-header select {
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }
  
  .options input[type="text"] {
      display: block;
      margin-bottom: 10px;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }
  
  .option-button {
      display: inline-block;
      margin-right: 10px;
      padding: 8px 12px;
      background-color: #1a73e8;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .option-button:hover {
      background-color: #0c5ac0;
  }
  
  .review-button {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    background-color: #1a73e8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.review-button:hover {
    background-color: #0c5ac0;
}


  