<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/login.css">
</head>
<body class="bg-primary">
    <main>
        <div class="flex-container center">
            <div class="flex-container flex-col" id="hero-par">
                <h2 class="color-secondary txt-l" id="prim-head">Welcome to the Program Exit Interview Portal</h2>
                <hr>
                <p class="color-white">
                    This platform is designed for graduating students to provide valuable feedback on their learning experiences. By answering a set of Exit Interview questions, you'll help us assess how well the program has met its learning outcomes and guide improvements for future students.
                    <br>
                    <br>
Please log in to get started.
                </p>
                <div class="spacer"></div>
                <div class="flex-container" id="icons">
                    <a href="" class="icon-link"><img src="/resources/icons/facebook.png" alt=""></a>
                    <a href="" class="icon-link"><img src="/resources/icons/ig.png" alt=""></a>
                    <a href="" class="icon-link"><img src="/resources/icons/chrome.png" alt=""></a>
                </div>
            </div>
            <div class="flex-container round bg-grey flex-col" id="login-div">
                <div class="row-centered">
                    <img src="/resources/images/logo.png" alt="" id="slu-logo">
                </div>
                <form>
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Username" id="username">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password">
                    <div class="row-right-align">
                        <a href="">Forgot Password</a>
                        <button id="login-btn" class="btn-primary-l"
                        onclick="handleLogin()">Login</button>
                    </div>
                </form>
            </div>
        </div>  
    </main>
    <script src="/resources/js/login.js"></script>
</body>
</html>