<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <main>
        <div class="centered-image-container">
            <img src="../resource/images/logo.png" alt="Logo">
        </div>
        <div id="centered_form">
            <form id = "credentials_form">
                <p>Email</p>
                <input type="email" name=""" id="emailInput" placeholder="Enter your email">
                <p>Password</p> 
                <input type="password" name="" id="passwordInput" placeholder="Enter your password">
            </form>
        </div>
    </main>
</body>
</html>