@font-face {
    font-family: 'Istok Web';
    src: url(../resources/fonts/Istok_Web/IstokWeb-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Istok Web';
    src: url(../resources/fonts/Istok_Web/IstokWeb-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style:normal;
}

@font-face {
    font-family: 'Istok Web';
    src: url(../resources/fonts/Istok_Web/IstokWeb-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Istok Web';
    src: url(../resources/fonts/Istok_Web/IstokWeb-BoldItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

html *{
    font-family: 'Istok Web';
}

.round{
    border-radius: 10px;
}

.flex-container{
    display: flex;
}


.flex-col{
    flex-direction: column;
}

.bg-grey{
    background-color: #A5A9B3;
}

.bg-primary{
    background-color: #223C6B;
}

.bg-secondary{
    background-color: #E1C319;
}

.color-primary{
    color:#223C6B;:
}

.color-grey{
    color:#A5A9B3
}

.color-secondary{
    color:#E1C319
}


.centered-image-container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: auto;  
}

.centered-image-container img{
    max-width:15%;
    height:auto;
}